/* Dhiaka Shabrina Assyifa_A11.2020.13094 */
/* Praktikum 2*/
p{
    font-family: serif;
    line-height: 1.75cm;
}

i{
    font-family: sans-serif;
    color: orange;
}
h2{
    font-family: sans-serif;
    color: #333;
}